body{
    overflow-x: hidden;
}
#body{
    height: 100lvh;
    width: 100lvw;
}
img{
    height: 30px;
    width: 30px;
}
.size1{
    height: 50px;
    width: 50px;
}
.size2{
    height: 45px;
    width: 45px;
}
/* main body template style */
#body{
    display: grid;
    grid-template-columns: 2.5fr,7.5fr;
    grid-template-rows: repeat(2,1.5fr),7fr;
}
#sidebar{
    grid-column: 1/2;
    grid-row: 1/4;
}
#header{
    grid-row: 1/2;
    grid-column: 2/3;
}
#nav-sec{
    grid-column: 2/3;
    grid-row: 2/3;
}
#main{
    grid-row: 3/4;
    grid-column: 2/3;
}
/* sidebar style */
#sidebar{
    padding-left: 40px;
    box-shadow: 5px 2px rgb(172, 182, 168);
    margin-right: 5px;
    overflow-y: hidden;
    
}
.sidebar-pt1{
    display: flex;
    align-items: center;
    font-size: xx-large;
    font-weight: bolder;
    margin-right: 40px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.sidebarIcons{
    display: flex;
    align-items: center;
    font-size: 17px;
    margin-right: 40px;
    font-weight: bold;
    
}
#sidebar img{
    margin-right: 15px;
}
.sidebar-pt2{
    margin-bottom: 100px;
}
.sidebar-pt2 div, .sidebar-pt3 div{
    margin-bottom: 15px;
}
.sidebar-pt2 div:hover, .sidebar-pt3 div:hover{
    background-color: rgb(128, 128, 128);
    color: white;
}

/*header style */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 30px;
}
.form{
    display: flex;
    align-items: center;
}
input{
    width: 600px;
    height: 30px;
    border: 0.01px solid grey;
    border-radius: 15px;
    margin-left: 10px;
    background-color: rgb(238, 238, 238);
}
input:focus{
    background-color: rgb(233, 233, 233);
}
.userProfileDisplay1{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 25px;
    width: 300px;
    justify-content: space-between;
}

/* nav style */
#nav-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 2px 2px 4px black;
    position: static;
}
.userProfileDisplay2{
    display: grid;
    grid-template-columns: 50px,250px;
    grid-template-rows: 50px,50px;
    column-gap: 30px;
}
.userProfileDisplay2 img{
    height: 70px;
    width: 70px;
    grid-row: 1/3;
    grid-column: 1/2;
}
.span1{
    align-self: flex-end;
    grid-column: 2/3;
    grid-row: 1/2;
}
.span2{
    font-size: 25px;
    font-weight: bold;
    grid-row: 2/3;
    grid-column: 2/3;
}
.nav{
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: space-between;
}
.nav div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 45px;
    width: 100px;
    text-align: center;
    border-radius: 20px;
    font-size: 19px;
    font-weight: bolder;
}
/* main styling */
#main{
    display: grid;
    grid-template-columns: 5fr , 1px;
    grid-template-rows: 1fr ,1fr;
    gap: 20px;
    padding-bottom: 20px;
}
.yourProjects{
    grid-column: 1/2;
    grid-row: 1/3;
}
.announcements{
    grid-column: 2/3;
    grid-row: 1/2;
}
.trending{
    grid-column: 2/3;
    grid-row: 2/3;
}
/* card style */
.cards{
    background-color: black;
    width: 450px;
    height: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0%;
    color: white;
    border-radius: 20px;

}
.cards:hover{
    background-color: white;
    color: black;
    box-shadow: 7px 7px 4px black;
}
.cards h4{
    font-size: 20px;
    margin-bottom: 0%;
    margin-bottom: 5px;
}

.cards div img{
    margin-left: 20px;
    background-color: white;
    border-radius: 50%;
    
}
.cards div{
    align-self: flex-end;
    justify-self: end;
    display: flex;
    align-items: end;
    flex-basis: 120px;
}
/* yout project style */
.yourProjects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20px,repeat(4, 250px);
    gap: 15px;
    margin-left: 80px;
}
.yourProjects h4{
    grid-column: 1/3;
    grid-row: 1/2;
    margin-bottom: 0%;
    font-weight: bolder;
    font-size: 25px;
}
#card1{
    grid-row: 2/3;
    grid-column: 1/2;
}
#card2{
    grid-row: 2/3;
    grid-column: 2/3;
}
#card3{
    grid-row: 3/4;
    grid-column: 1/2;
}
#card4{
    grid-row: 3/4;
    grid-column: 2/3;
}
#card5{
    grid-row: 4/5;
    grid-column: 1/2;
}
#card6{
    grid-row: 4/5;
    grid-column: 2/3;
}
/* announcements style */
.announcements{
    width: 220px;
    height: 500px;
}
.announcements h4{
    font-weight: bolder;
    font-size: 25px;
}
.announce-articles{
    background-color: rgb(233, 233, 233);
    padding: 20px;
    padding-top: 1px;
    border-radius: 10px;
    box-shadow: 3px 3px 4px black;
    
}
.announce-articles div span{
    font-size: 13px;
    font-weight: lighter;
}
.announce-articles div{
    margin-top: 0%;
}
h6{
    margin-bottom: 0%;
    font-weight: bolder;
    font-size: 17px;
}
hr{
    margin-bottom: 0;
}
.trending h4{
    font-weight: bolder;
    font-size: 25px;
}
.Trending{
    background-color: rgb(233, 233, 233);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 4px black;
    width: 200px;
}
.Trending div{
    display: grid;
    grid-template-columns: 1fr ,2fr;
    grid-template-rows: 1fr,1fr;
    margin-bottom: 20px;
}
.Trending div img{
    grid-column: 1/2;
    grid-row: 1/3;
}
.Trending div .tag{
    grid-column: 2/3;
    grid-row: 1/2;
    font-weight: bolder;
}
.Trending div .post{
    justify-content: flex-start;
    grid-column: 2/3;
    grid-row: 2/3;
}